<% title "Update" %>

<%= button_to faces_path, :class => "btn btn-default", :id => "back", :method => :get do %>
    <span class="glyphicon glyphicon-chevron-left"></span>&nbsp; Back
<% end %>

<h1>Update staff member</h1>

<% if @face.errors.any? %>
    <h4>The following errors prevented the staff member from being updated:</h4>
    <ul>
      <% @face.errors.full_messages.each do |err| %>
          <li><%= err %></li>
      <% end %>
    </ul>
<% end %>

<%= render 'editform' %>