<% title "New" %>

<h2>Add a new staff member</h2>

<% if @face.errors.any? %>
    <h4>The following errors prevented the staff member from being created:</h4>
    <ul>
      <% @face.errors.full_messages.each do |err| %>
          <li><%= err %></li>
      <% end %>
    </ul>
  <% end %>

<%= render 'form' %>

<p>
<%= link_to "Back to all staff members", faces_path %>
</p>