// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 12.5px;
  font-family: "FreeSans", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

th {
  text-align: left;
}

.field, .actions {
  margin-bottom: 5px;
}

table {
  border-spacing: 0px;
}

#flash {
  margin-top: 5px;
}

th, td {
  border-bottom: 1px solid black;
  padding: 5px;
}

#addnew {
  float: left;
  margin-right: 5px;
}

#logout {
  float:right;
}