// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

* {
  font-size: 12.5px;
  font-family: "FreeSans", "Arial", sans-serif;
}

.field, .action {
  margin-bottom: 5px;
}

#visible {
  font-size: 10px;
}

body {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12.5px;
  font-family: "FreeSans", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

#table {
  border-spacing: 0px;
}

#flash {
  margin-top: 5px;
}

.coloured {
  background-color: #E9E9E9;
}

#table th, #table td {
  border-bottom: 1px solid black;
  padding: 5px;
  text-align: left;
}

.top-left-button {
  float: left;
  margin-right: 5px;
}

#back {
  margin-top: 5px;
  margin-bottom: -10px;
}

#logout, .help {
  margin-left: 5px;
  float: right;
}

#login {
  margin-top: 5px;
  margin-bottom: 2px;
}

.form-control {
  width: 250px;
  font-size: 12.5px;
}

.glyphicon-refresh-animate {
  -webkit-animation-name: rotateThis;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes rotateThis {
  from {
    -webkit-transform: rotate(0deg);
  }
  to  {
    -webkit-transform: rotate(360deg);
  }
}

.modal-open {
  padding-right: 0px !important;
}

#ordering {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 0;
}

.placeholder {
  background-color: transparent;
}

#ordering li {
  margin: 1px 1px 1px 1px;
  padding: 2px;
  float: left;
  width: 100px;
  height: 90px;
  text-align: center;
  border-radius: 0px;
  position: relative;
}

#save-order, #add-blank {
  margin-bottom: 15px;
  margin-right: 2px;
  display: inline-block;
}

.faces-label {
  width: 94px;
  text-align: center;
}

#progressbar {
  width: 100%;
  height: 10px;
  display: none;
}