// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

* {
  font-size: 12.5px;
  font-family: "FreeSans", "Arial", sans-serif;
}

.field, .actions {
  margin-bottom: 5px;
}

#visible {
  font-size: 10px;
}

body {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12.5px;
  font-family: "FreeSans", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

th {
  text-align: left;
}

table {
  border-spacing: 0px;
  margin-top: -10px;
}

#flash {
  margin-top: 5px;
}

.coloured {
  background-color: #E9E9E9;
}

th, td {
  border-bottom: 1px solid black;
  padding: 5px;
}

#addnew {
  float: left;
  margin-right: 5px;
}

#back {
  margin-top: 5px;
  margin-bottom: -10px;
}

#logout, #help {
  margin-left: 5px;
  float: right;
}

#login {
  margin-top: 5px;
  margin-bottom: 2px;
}

.form-control {
  width: 250px;
  font-size: 12.5px;
}